div {
		font-family: 'Roboto', sans-serif;
}

.header {
	background-color:#607d8b;
	height:125px;
	width:98.8%;
	position:fixed;
	display:block;
	z-index: 1;
	margin-top: -30px;

}



.header p {
	color:#FFFFFF;
	font-size:3em;
	text-align:center;

}

.player-card-container {
	padding-top: 130px;
	background-color: #eceff1;
	padding-left: 10px;
	padding-right: 10px;
}

.player-card-container > div {
	height: 150px;
	margin-top: 5px;
}

.player-cards {
	color:#FFFFFF;
	font-size: 5em;
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;

}

#player-1 {

	background-color:#0088CE;
}

#player-2 {
	background-color:#213D30;
}

#player-3 {
	background-color:#F2C800;
}

#player-4 {
	background-color:#03202F;
}

#player-5 {
	background-color:#0C371D;
}

#player-6 {
	background-color:#0D254C;
}

#player-7 {
	background-color:#D2B887;
}

#player-8 {
	background-color:#AF1E2C;
}

#player-9 {
	background-color:#00338D;
}

.footer {
	background-color: #263238;
	height:75px;
	margin-top:50px;
	font-size:3em;
	text-align: center;
	color:#FFFFFF;
	padding-top:15px;
}